{% extends '::test.html.twig' %}
{% block modifierannonce %}

    <h1 class="heading-agileinfo">Modifier l'annonce </h1>




        <form id="editForm" method="POST"  style="text-align: center" action="{{ path('covoiturage_edit',{'id': covoiturage.idCov}) }}">

            <h4 >Départ</h4>
            <br>
            <input style="width: 25%" type="text" name="depart" required="" value="{{ covoiturage.depart }}">
            <br>

            <br>
            <h4>Arrivée</h4>
            <br>
            <input style="width: 25%" type="text" name="arrivee" required="" value="{{ covoiturage.arrivee }}">
            <br>

            <br>
            <h4>Date de départ</h4>
            <br>
            <input style="width: 25%" type="date" name="dateDepart" required="" value="{{ covoiturage.dateDepart }}">
            <br>

            <br>

            <h4>Heure de départ</h4>
            <br>
            <input style="width: 25%" type="text" name="heureDepart" required="" value="{{ covoiturage.heureDepart }}">
            <br>
            <br>
            <h4>Prix</h4>
            <br>
            <input id="prix" style="width: 25%" type="text" name="prix" required="" value="{{ covoiturage.prix }}">
            <br>
            <br>
            <h4>Nombre de places</h4>
            <br>
            <input id="nombreDeplaces" style="width: 25%" type="text" name="nombreDeplaces" required=""
                   value="{{ covoiturage.nombreDeplaces }}">
            <br>
            <br>
            <h4>Description</h4>
            <br>
            <input type="text" id="description" style="width: 25%" name="description" required=""
                   value="{{ covoiturage.description }}">
            <br>
            <br>
            <button type="submit" class="btn btn-success "><span class="glyphicon glyphicon-ok"></span> Enregistrer
            </button>
            <a href="{{ path('covoiturage_showmine') }}">
                <button type="button" class="btn btn-danger "><span class="glyphicon glyphicon-remove"></span> Annuler
                </button>
            </a>


        </form>


{% endblock %}